*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 300;
    font-size: 18px;
}
p{
    text-indent: 20px;
}
.container{
    width: 80%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 75px;
    display: flex;
}
.header_wrapper{
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_wrapper .logo{
    width: 100px;
}
.header_wrapper .logo img{
    width: 100px;
    margin-top: 15px;
}
.burger{
    width: 50px;
    height: 50px;
    background-color: rgb(240, 230, 230);
    font-size: 34px;
    text-align: center;
    display: none;
    margin-right: 30px;
}
.burger:hover{
    cursor: pointer;
    background-color: rgb(241, 209, 209);
}
.nav{
    margin-left: auto;
    margin-right: 15px;
}
.nav1{
    margin-left: auto;
    margin-right: 30%;
}
.nav ul,
.nav1 ul{
    display: flex;
    list-style: none;
}
.nav a,
.nav1 a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    padding: 10px 5px;
    position: relative;
}
.nav .bg_1:hover{
    background-color: rgb(255, 250, 219);
}
.nav a:hover,
.nav1 a:hover, 
.nav_mob a:hover{
    text-decoration: underline;
}
.nav li{
    margin-right: 5px;
    position: relative;
}
.nav li > ul{
    display: none;
}
.nav li:hover > ul{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: visible;
    background-color: rgb(255, 250, 219);
    z-index: 1;
}
.nav span{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    margin-top: 17px;
    margin-right: 5px;
}
.nav_mob{
    z-index: 1;
    width: 300px;
    height: 500px;
    background-color: rgb(65, 60, 60);
    position: absolute;
    top: 0;
    left: 0;
}
.nav_mob ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
}
.nav_mob li{
    margin-left: 30px;
    margin-bottom: 15px;
}
.nav_mob a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
}
.bg_close{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.but_close{
    width: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: auto;
    margin-right: 15px;
    text-align: center;
}
.but_close:hover{
    font-weight: bold;
    cursor: pointer;
}
.header_tel img{
    height: 17px;
    margin-right: 5px;
    margin-bottom: -2px;
}
.header_tel a{
    text-decoration: none;
    color: #000;
    white-space: nowrap;
}
.wrapper_promo{
    position: relative;
} 
.wrapper_promo .promo{
    height: 850px;
    background-image: url(../img/mebel-11.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center top;
}
.wrapper_promo .promo_l1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 196, 183);
    opacity: 0.2;
}
.wrapper_promo .promo_l2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern_2.png);
    background-repeat: repeat;
    opacity: 0.5;
}
.wrapper_text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_text .promo_text1{
    width: 700px;
    height: 145px;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(104, 46, 42);
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.55);
    text-align: center;
    border-radius: 15px;
}
.wrapper_text .promo_text1 .text_s1{
    color: rgb(168, 54, 120);
}
.wrapper_text .promo_slogan{
    font-size: 30px;
    font-weight: bold;
    color: rgb(104, 46, 42);
    margin-top: -50px;
}
.wrapper_text .line_1{
    width: 160px;
    height: 4px;
    background-color: rgb(168, 54, 120);
    margin-top: 70px;
}
.wrapper_text .promo_text2{
    width: 500px;
    height: 80px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 15px;
    margin-top: 40px;
    padding-top: 15px;
    color: rgb(104, 46, 42);
}
.wrapper_text .button1{
    width: 200px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(104, 46, 42);
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
}
.wrapper_text .button1:hover{
    background-color: rgb(138, 62, 57);
    cursor: pointer;
    transform: translateY(2px);
    transition: 0.15s;
}
.wrapper_text a{
    text-decoration: none;
}
.wrapper_item1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.wrapper_item1 .item1_pict1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.wrapper_item1 .item1_pict1 img{
    margin-bottom: 20px;
}

.bg_item2{
    width: 100%;
    height: auto;
    background-color: rgb(205, 229, 243);
    margin-top: 150px;
    padding-bottom: 30px;
}
.bg_item3{
    background-color: rgb(243, 219, 205);
}
.wrapper_item2{
    display: inline-block;
}
.wrapper_item21{
    display: flex;
    flex-direction: column;
}
.wrapper_item2 .item2_h1,
.wrapper_item21 .item2_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    width: 700px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:-25px;
}
.wrapper_item21 .item2_h2{
    width: 300px;
}
.wrapper_item21 .item2_h3{
    width: 400px;
}
.wrapper_item2 .item2_p1{
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
}
.wrapper_item2 .item2_p1 img{
    width: 270px;
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    margin-right: 30px;
}
.wrapper_rew{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}
.wrapper_rew .itemRew{
    width: calc(50% - 60px - 4px);
    height: 300px;
    background-color: #fff;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}
.wrapper_rew .itemRew img{
    width: 140px;
    margin-right: 20px;
    float: left;
}
.wrapper_rew .itemRew span{
    font-weight: bold;
    line-height: 35px;
}
.wrapper_item3,
.wrapper_item4{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.wrapper_item3 .item2{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 20px;
}
.wrapper_item3 .item2.pop1{
    background-image: url(../img/gal_maximo_000.jpg);
}
.wrapper_item3 .item2.pop2{
    background-image: url(../img/13hq.png);
}
.buttonPop{
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(205, 229, 243);
    color: #000;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 0 0 15px gray;
}
.buttonPop:hover{
    cursor: pointer;
    background-color: rgb(181, 222, 247);
    transform: translateY(-2px);
    transition: 0.15s;
    box-shadow: 0 5px 20px gray;
}
.gallery_text{
    width: 100%;
    height: 60px;
    background-color: rgb(243, 219, 205);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    margin-top: 150px;
    margin-bottom: 60px;
}
.promoS{
    width: 100%;
    height: auto;
    position: relative;
}
.promoS_list{
    display: flex;
    list-style: none;
    overflow: hidden;
}
.promoS_item{
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
.promoS_cont{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promoS_cont img{
    width: 100%;
}
.promo_but{
    font-size: 34px;
    font-weight: bold;
    border: 0;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    background-color:rgba(93, 95, 134, 0.7);
    padding: 25px 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.promo_but:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    background-color:rgba(118, 119, 136, 0.4);
}
.last{
    color: rgba(255, 255, 255, 0.8);
    background-color:rgba(118, 119, 136, 0.4);
}
.promo_but_prew{
    left: 10.1%;
}
.promo_but_next{
    right: 10.1%;
}
.gallery img{
    height: 200px;
}
.buttonAction{
    width: 220px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(104, 46, 42);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.buttonAction.rew{
    height: 80px;
    padding-top: 0;
}
.buttonAction a{
    display: inline-block;
    width: 100%;
    height: 55px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 25px;
}
.buttonAction:hover{
    cursor: pointer;
    background-color: rgb(138, 62, 57);
    transform: translateY(2px);
    transition: 0.15s;
}
.bg_footer{
    width: 100%;
    height: auto;
    background-color: rgb(223, 233, 238);
    margin-top: 130px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.wrapper_contacts{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
}
.contacts{
    width: 40%;
    height: 100%;
    text-align: center;
}
.contacts .contacts_slogan{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 90px;
}
.contacts .line_2{
    width: 120px;
    height: 4px;
    background-color:  rgb(104, 46, 42);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.contacts .contacts_text{
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contacts a{
    text-decoration: none;
    font-size: 22px;
    color: #000;
}
.contacts a:hover{
    text-shadow: 0 0 1px rgb(221, 122, 56);
}
.contacts .contacts_text2{
    font-size: 20px;
    margin-top: 15%;
}
.wrapper_exchenge{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.wrapper_exchenge .exch_text{
    width: 110px;
    height: 40px;
    font-size: 14px;
    text-align: right;
    padding-right: 7px;
}
.wrapper_exchenge .currency{
    width: 110px;
    height: 40px;
    display: flex;
    font-size: 14px;
    margin-left: 2px;
}
.currency .curr_v{
    padding: 0 5px;
}
.currency .curr_v span{
    font-weight: bold;
}
.buttonUp{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(185, 146, 124);
    bottom: -15px;
    right: 30px;
    box-shadow: 0 0 10px gray;
}
.buttonUp:hover{
    background-color:rgb(190, 131, 97);
    transform: translateY(-2px);
    transition: 0.15s;
}
.buttonUp .wr_lines{
    position: relative;
}
.buttonUp .wr_lines .lineL{
    width: 35px;
    height: 6px;
    transform: rotate(-45deg);
    position: absolute;
    top: 27px;
    left: 7px;
    border-radius: 3px 0 0 3px;
    background-color: rgb(128, 68, 63);
}
.buttonUp .wr_lines .lineR{
    width: 35px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 27px;
    right: 7px;
    border-radius: 0 3px 3px 0;
    background-color: rgb(128, 68, 63);
}
.wrapper_social{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.wrapper_social .soc_fb{
    width: 48px;
    height: 48px;
    background-image: url(../img/Facebook-icon.png);
}
.wrapper_social .soc_vk{
    width: 48px;
    height: 48px;
    background-image: url(../img/VK-icon.png);
}
.wrapper_social .soc_ins{
    width: 48px;
    height: 48px;
    background-image: url(../img/Instagram-icon.png);
}
.wrapper_social .soc_you{
    width: 48px;
    height: 48px;
    background-image: url(../img/Youtube-icon.png);
}
.wrapper_social .hoverS:hover{
    transform: translateY(-1px);
}
.wrapper_contacts .map{
    width: 60%;
    height: 95%;
    margin-top: 20px;
}
.wrapper_contacts .map iframe{
    width: 100%;
    height: 100%;
}
.wrapper_ch{
    margin-top: 50px;
}
.wrapper_ch .item_ch{
    display: flex;
    width: 100%;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid rgb(175, 175, 175);
    overflow: hidden;
    margin-bottom: 30px;
}
.wrapper_ch .item_ch .cat_img{
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 20px;
}
.wrapper_ch .item_ch .cat_text{
    width: calc(100% - 360px);
    margin: 20px 10px 10px 0; 
}
.cat_text .title_product{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.cat_text .desc_product span{
    display: block;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}
.img1{
    background-image: url(../img/ch1.jpg);
}
.img2{
    background-image: url(../img/ch2.jpg);
}
.img3{
    background-image: url(../img/ch3.jpg);
}
.img4{
    background-image: url(../img/ch4.jpg);
}
.img5{
    background-image: url(../img/ch5.jpg);
}
.img6{
    background-image: url(../img/ch6.jpg);
}
.img7{
    background-image: url(../img/ch7.jpg);
}
.img8{
    background-image: url(../img/ch8.jpg);
}
.img9{
    background-image: url(../img/t1.jpg);
}
.img10{
    background-image: url(../img/t2.jpg);
}
.img11{
    background-image: url(../img/t3.jpg);
}
.img12{
    background-image: url(../img/t4.jpg);
}
.img13{
    background-image: url(../img/t5.jpg);
}
.img14{
    background-image: url(../img/t6.jpg);
}
.img15{
    background-image: url(../img/t7.jpg);
}
.img16{
    background-image: url(../img/t8.jpg);
}
.img20{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-43.jpg);
}
.img21{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-45.jpg);
}
.img22{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-46.jpg);
}
.img23{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-49.jpg);
}
.img24{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-5.jpg);
}
.img25{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-8.jpg);
}
.img26{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma.jpeg);
}
.img27{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-10.jpg);
}
.img28{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-2.jpg);
}
.img29{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-21.jpg);
}
.img30{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-25.jpg);
}
.img31{
    background-image: url(../img/mebel-transformer-shkolniku-dlya-doma-3.jpg);
}
.bg_form{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(119, 98, 85, 0.3);
}
.gray{
    color: rgb(56, 56, 56);
}
.pop_ord{
    z-index: 3;
    width: 600px;
    height: 500px;
    background-color: #fff;
    border-radius: 25px;
    position: fixed;
    top: 140px;
    left: calc(50% - 300px);
    box-shadow: 0 0 30px rgb(70, 70, 70);
    text-align: center;
}
.field{
    font-size: 32px;
    font-weight: bold;
    color: rgb(90, 34, 92);
    margin-top: 30px;
}
.field input{
    width: 300px;
    height: 40px;
    font-size: 22px;
}
.text_order{
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 215, 183);
    border-top: 2px solid  rgb(255, 177, 113);
    border-bottom: 2px solid  rgb(255, 177, 113);
    font-size: 22px;
    font-weight: bold;
    color: rgb(90, 34, 92);
    padding-top: 5px;
}
.pop_ord button{
    width: 180px;
    height: 50px;
    background-color: rgb(231, 145, 111);
    color: rgb(90, 34, 92);
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}
.pop_ord button:hover{
    background-color: rgb(230, 121, 78);
    transform: translateY(1px);
    transition: 0.15s;
}
.pop_exm{
    z-index: 3;
    width: 700px;
    height: 700px;
    background-color: #fff;
    border-radius: 25px;
    position: fixed;
    top: 140px;
    left: calc(50% - 350px);
    box-shadow: 0 0 30px rgb(70, 70, 70);
    text-align: center;
    overflow: hidden;
}
.title_pop{
    font-size: 24px;
    font-weight: bold;
    color: rgb(90, 34, 92);
}
.wrapper_foto{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    height: 85%;
    margin: 10px;
}
.wrapper_foto .item_pop{
    flex: 1 1 calc(50% - 18px);
    margin: 7px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 2px solid rgb(201, 201, 201);
}
.f_1{
    background-image: url(../img/ch_1.jpg);
}
.f_2{
    background-image: url(../img/ch_2.jpg);
}
.f_3{
    background-image: url(../img/ch_3.jpg);
}
.f_4{
    background-image: url(../img/ch_4.jpg);
}
.f_5{
    background-image: url(../img/t_1.png);
}
.f_6{
    background-image: url(../img/t_2.jpg);
}
.f_7{
    background-image: url(../img/t_3.jpg);
}
.f_8{
    background-image: url(../img/t_4.jpg);
}